[2019-03-08 09:13] roata opened #2 "Designul interfeței web pentru afișarea poziției troleibuzelor pe hartă"
Este necesară crearea unei pagini web pentru a îmbunătăți funcția de vizualizare a poziției curente a troleibuzelor pe hartă. Actualmente, acestea se transmit prin mesaje individuale, câte unul pentru fiecare troleibuz, aici sunt câteva probleme:

- poziția pe hartă nu se actualizează în timp real
- pe hartă nu se vede direcția mișcării troleului (la moment asta se remediază prin aceea că în titlu

[2019-03-08 09:21] roata opened #1 "Implementarea interfeței web pentru afișarea troleibuzelor pe hartă"
Implementarea propriu-zisă a #9 necesită aptitudini de lucru cu JavaScript, HTML, CSS, și poate SVG.

Cerințele sunt următoarele:

1. să fie recepționate în timp real coordonatele despre poziția troleibuzelor prin protocolul `WebSTOMP` (exemplu de implementare e disponibil pe rtec.dekart.com/infodash). Formatul acestor date e descris în `readme.rst`
2. să se afișeze poziția troleibuzelor pe hartă

[2019-05-14 10:32] roata opened #7 "Tutoring for newbie-contributors"
@iamandrewluca, would it be possible to create some simple issues fit for the `good first issue` tag, which we could distribute to a pool of potential contributors?

Such tasks would have to be broken down into smaller ones, at a level of complexity that would not scare them. This could happen at 2 levels:

1. self-contained tasks which say "use technology X to do Y"
2. supervised tasks, which wil

[2019-05-14 20:21] Leftere commented on #7
Hi guys, I have a general basic understanding of react, components lifecycle, and I'm currently working on upscaling my skills. I only have about a year of experience working with front-end technologies and want to learn more and contribute.

Let's see what do we have so far and what the next priorities.

Yes, Please someone hold my hand :- )

[2019-05-15 08:12] roata opened #8 "Designul interfeței pentru panoul stației"
Această funcționalitate este necesară pentru cazurile în care undeva în public este un display unit la un computer cu browser, care poate afișa un site în regim full-screen. Astfel, el se transformă într-un ”information appliance”. Acestea prind bine oamenilor care nu au telefon, sau au telefon dar n-au power, sau au și telefon și power dar n-au Internet.

Astfel de ecrane pot fi instalate la staț

[2019-06-16 12:56] roata commented on #1
Astăzi am primit un astfel de feedback de la unul din utilizatori:

Asta era în plan să se rezolve prin aceea că omul poate deschide un URL unde va vedea poziția troleului în timp real, prin browser. Dat fiind faptul că acest proiect stagnează, putem întreprinde ceva pentru a-l urni din loc?

Cum s-a discutat în #7, avem cel puțin 2 oameni care ar fi dispuși să contribuie, dacă ar fi ghidați. Pe l

[2019-06-16 19:16] PlugaruT commented on #1
Eu nu prea prietenesc cu JS/React din pacate și e destul de greu pentru mine ca să contribui cu ceva major la web-ui. Pe partea de Python sigur mă pot implica, dar partea tristă e ca nu este chiar clar roadmap-ul proiectului. Cumva îmi vine cam greu sa contribui la telegram-bot cu noi funcționalități pentru ca cele care sunt la moment sunt ok pentru mine, asta considerând că nu prea circul cu tran

[2019-06-16 19:53] roata commented on #1
Asta nu ar fi posibil pentru mine deoarece nu sunt în Moldova deja de câțiva ani. Un mecanism de comunicare ar fi https://roataway.zulipchat.com (am primit free package pentru open-source projects).

Roadmap arată cam așa:
- Viber bot (e un web-server care expune câteva endpointuri); Viber e cel mai popular messenger din Moldova
- Facebook Messenger bot (același lucru, poate s-ar putea combina cum

[2019-06-20 08:31] PlugaruT commented on #1
Aha, merci pentru clarificare.
Atunci eu o sa încerc sa ma uit cum de făcut un bot pentru Viber,
partea aiurea este ca nu dispun de foarte mult timp liber 😞 But will try!

[2019-06-28 13:46] PlugaruT commented on #1
@roata, faci te rog un repo `viber-bot`? 😬

[2019-06-28 13:50] roata commented on #1
Am făcut și te-am adăugat la el.

[2019-08-10 20:05] roata opened #9 "Afișarea opțională a poziției utilizatorului"
În #2 se discută doar poziția troleibuzelor, însă deseori utilizatorul e interesant și în vizualizarea propriei sale poziții pe hartă, deoarece aceste ar putea să nu cunoască bine orașul.

Cerințele sunt următoarele:
- funcția trebuie să fie _opțională_, adică implicit poziția nu se vizualizează pe hartă și nici nu se cere permisiunea pentru ”access your location”
- permisiunea se cere doar dacă u

[2019-09-24 22:21] roata opened #13 "Show direction of motion on map"
To make it clear which was each vehicle is moving, their map marker must correspond to their orientation.

This [leaflet plugin](https://github.com/bbecquet/Leaflet.RotatedMarker) promises to do so, and it was attempted here: https://github.com/roataway/web-ui/blob/feedf93ad26a3f19e8ec3de6ebf860caf83b89d2/src/basic-map.tsx#L31

However, it doesn't seem to work. This was tested by changing the mark

[2019-09-24 22:31] roata opened #14 "String localization skeleton"
Before this thing gets complicated, we have to ensure that all the UI strings are adequately localized, rather than hard-coded. At a minimum, we'll need to support Romanian, Russian and English.

It would be great if someone experienced in TypeScript could add the scaffolding to support this process and show an example of how it is done, such that every other contributor, from then on, would follo

[2019-09-24 22:37] roata opened #15 "Show route segments and stations on map"
Eventually, the interface will not show all trolleybuses on the map at once (there are more than 300 of them), but only the ones on a selected route. Once the route is selected, it should be shown on the map as a series of connected segments - so users can see how the map markers (i.e. vehicles) are moving along the route.

Ideally, this should be done using the [Overpass API](https://wiki.openstr

[2019-09-25 00:21] iamandrewluca opened #17 "Fix progressive web app. Not installing on device."
Something is wrong with PWA, the app does not offer to be installed as a native app

[2019-09-25 06:42] #14 closed

[2019-09-25 18:50] ralienpp commented on #15
OpenStreetMap uses the concept of a `relation` to group together related items. For example route 32 is relation `8649765`. This is a sample query to retrieve a list of all stops in a relation, paste it into http://overpass-turbo.eu/:

[code]

![image](https://user-images.githubusercontent.com/295338/65629393-89881080-dfd3-11e9-9bcc-5c89c3df24dd.png)

Or use this URL directly (will return an XML f

[2019-09-25 19:09] ralienpp commented on #15
This is a query for retrieving a list of segments that the route is made of:

[code]

Here's a direct URL to that, which returns a JSON
http://overpass-api.de/api/interpreter?data=[out:json];relation%20%288649765%29%3B%0A%3E%3E%3B%0Away._%3B%0Aout%20geom%3B%0A

This is what it looks like:

![image](https://user-images.githubusercontent.com/295338/65631882-be4a9680-dfd8-11e9-9d05-911ef2b88a2b.png)

[2019-09-25 21:20] roata opened #18 "Storage local metadata [that rarely changes]"
We need a way to store some meta data that hardly changes. At the moment it is a table with several columns:

- `route_id` = numeric route identifier that is used internally by RTEC
- `route_name_concise` = human-readable concise route name, like `30` or `3A`
- `route_name_long` = something like `30 - Airport - Center`
- `route_osm_relation` = route identifier on OpenStreetMaps, which is used for

[2019-09-25 21:25] roata opened #19 "Show the user's current location, optionally"
We need to show the current location of a user, so they can figure out where they are, what is in their proximity and where the nearest vehicles are.

To keep the site _privacy-preserving_, this must be an optional feature. The workflow is like this:

- open up the page, scroll around and observe the vehicle positions (at this stage there's no sign of a location request)
- the user presses a `show

[2019-09-25 21:32] roata opened #20 "Show route diagram"
In a future release, once the fundamental features are ready, we need a way to display the route diagram, so users can see a list of stations and their sequence.

An example of this is available in the [Overpass API](http://overpass-api.de/public_transport.html). Here is an example of a query: `http://overpass-api.de/api/sketch-line?network=VRR&ref=625&operator=`

And the resulting visualization:

[2019-09-25 21:41] roata opened #21 "Save preferences"
There are a number of options that users can customize, or that could be "sticky":

- last selected route
- language preference
- maybe in the future - favourite locations

The site should give people an option to remember this information for future use. This functionality must be invoked **only after the user pressed** "Remember my preferences".

This is to ensure that we are not going to annoy

[2019-09-25 21:49] roata opened #22 "URL parameters for power users"
The URLs used by RoataWăy should encode some information that:

- facilitate sharing info with friends, by giving them a direct URL
- enables power-users to get what they want easier

This can be accomplished by extracting data from URLs, e.g.:

- `roataway.com/route/<route_id>`, like `roataway.com/route/30` - this will bring one straight away to route 30, without requiring any clicks or instructi

[2019-09-27 07:25] roata commented on #13
This is resolved in https://github.com/roataway/web-ui/pull/23

However, some adjustments might be necessary: when the trolleybus is not moving, its direction is set to 0, so on the map it will look like it is pointing to the North, which is not necessarily true.

Perhaps a nicer way to render it would be to:
- draw it as a circle when the speed is 0
- and yet, if it stopped at a traffic light (he

[2019-09-29 11:36] ralienpp commented on #15
Modified query for retrieving a list of bus stops, in a format that works "as is" with react-leaflet's GeoJSON feature:

[code]

[2019-09-29 13:56] roata commented on #15
Proof of concept implemented in https://github.com/roataway/web-ui/pull/24/

The route is hardcoded for now, the route selection interface will be created in a separate issue.

[2019-09-29 14:27] roata opened #25 "Add route selection dialog"
At the moment we indiscriminately subscribe to all telemetry data and display all vehicles at once, but that's not the way things ought to be.

There has to be a _"Choose route"_ option, where the user chooses the route they are interested in, and then - the route is shown on the map, and its trolleybuses are shown too.

This feature has 2 components:
- visualizing the choice UI (the focus of this

[2019-09-29 14:27] roata commented on #7
@Leftere, will you be able to create the route-selection dialog? https://github.com/roataway/web-ui/issues/25

[2019-09-29 14:36] roata opened #26 "Route selection subscription logic"
This is a companion-issue of https://github.com/roataway/web-ui/issues/25 and it targets the "under the hood" operations.

When a route is selected, the following things must happen:
1. Obtain the `id_upstream` of the selected route (first column in the CSV https://github.com/roataway/web-ui/blob/route-data/src/data/routes.csv)
2. Subscribe the Web-STOMP client to the routing key `telemetry/route/

[2019-09-29 14:49] roata opened #27 "Correct station marker offsets when zooming in and out"
There's an artifact that occurs when zooming in and out - the station markers appear to be offset, but they get into their proper positions when zooming in.

This effect should be eliminated.

![vokoscreen-2019-09-29_16-48-12](https://user-images.githubusercontent.com/48152696/65834202-0d464380-e2d9-11e9-910f-3b471ef23de8.gif)

[2019-09-29 20:37] roata commented on #13
The algorithm was updated in https://github.com/roataway/web-ui/pull/24/commits/ea8574685db1c9f63d11cb324f977b7b325c9450

- If the speed is 0 - we use the old `direction`
- If the speed is above 0, but the difference between the old and new direction is above 30, we only turn it half-way

This makes it smoother.

[2019-10-01 06:53] #13 closed

[2019-10-01 06:54] roata commented on #18
@iamandrewluca, are you ok with the current structure and format in `src/data`? Or is there a better practice?

[2019-10-01 06:55] #15 closed

[2019-10-01 06:57] roata opened #28 "Show station name in popup when clicking its marker"
At the moment the stations have no names, although the information is available in the GeoJSON. What we need is:

1. the station name should be shown in a tooltip when the mouse is over it
2. for users who don't have a mouse (e.g., phones) this is additionally shown in a popup when the marker is clicked.

All the station data can be found in `src/data/route_<station_id>_stations.json`.

[2019-10-01 06:58] roata commented on #19
Duplicate of #9 .

[2019-10-01 07:02] iamandrewluca commented on #18
Yes. First I thought that maybe static data should be placed in `public` folder. But issue will arise when the data will be changed, because name of files is never changed and browser will cache them. Putting the data into `src` folder forces us to use static `import data from './data/...` or dynamic `import('./data...')` And this will prepare data files with a hash in their name, and whenever con

[2019-10-02 00:53] Leftere commented on #7
@roata sorry, just got a new job and have been working on some other projects. I will try to drop in some time later

[2019-10-02 07:11] roata commented on #7
I hope you enjoy your new job; recently I switched locations too :-)

I started working on this ticket myself, perhaps you can provide some tips about
 the 6 points at the bottom: https://github.com/roataway/web-ui/commit/0376484749771f45fb78dfdacaa7585aaca33417

[2019-10-03 10:57] roata opened #30 "Show vehicle properties in popup"
When a vehicle marker is clicked, a popup window should be shown, with the following information taken from `web-ui/src/data/vehicles.csv`:

- route number, e.g. `30`
- board number, e.g. `3898`
- whether it has accessibility features, by displaying a corresponding icon

Notes:
- We can take a Unicode approach, 'WHEELCHAIR SYMBOL' (U+267F), ♿. However, it may look different on different devices, s

[2019-10-03 11:25] roata commented on #27
Related issues and their solutions:

- https://gis.stackexchange.com/questions/222971/how-can-i-prevent-leaflet-from-moving-my-marker-while-zooming-into-the-map
- https://stackoverflow.com/questions/17875438/leafletjs-markers-move-on-zoom

[2019-10-03 11:37] iamandrewluca commented on #27
I think we only need to retrigger a render, and this will fix the problem.
Zooming is represented by z axis. Adding a `key` prop to a react element, will trigger a render when key is changed.

[2019-10-04 07:46] roata commented on #27
But wouldn't that be a performance issue? I am thinking of mobile users running this on their phones, it would suck if people hated our app because it drains their battery.

My other concern is that I don't know how to do it, actually - the stations are rendered automatically through the `GeoJSON` component, so we don't render each marker directly.

[2019-10-04 07:48] roata commented on #18
Alright - the CSVs are in `src/data`, and there's a readme that explains the file structure, so I am closing this.

[2019-10-04 07:48] #18 closed

[2019-10-04 07:51] roata commented on #7
Since there's no flood of new contributors, this issue is not so relevant. For future reference:

- The easier ones have a "good first issue" tag, so new contributors can use them as starting points.
- Guidance can be obtained here, or on https://roataway.zulipchat.com/

[2019-10-04 07:51] #7 closed

[2019-10-04 07:52] roata commented on #1
Resolved in https://github.com/roataway/web-ui/pull/6

[2019-10-04 07:52] #1 closed

[2019-10-04 07:53] roata commented on #2
Resolved in https://github.com/roataway/web-ui/pull/6

[2019-10-04 07:53] #2 closed

[2019-10-04 08:01] iamandrewluca commented on #27
@roata yes I also always strugle about performance :slightly_smiling_face:

In this case I think is the responsability of `GeoJSON` to rendre markers correctly. I'll investigate.

[2019-10-04 10:24] roata opened #33 "Smooth marker movement"
The GPS data arrives every 3..5s, so the vehicle markers are "jumping" from the previous position to the current one. This can be improved, by letting the marker drift smoothly to the new location, giving the impression of a continuous, rather than discrete change.

This plugin promises to do the trick: https://www.npmjs.com/package/leaflet-drift-marker

[2019-10-04 10:57] pedramp commented on #33
An easy way that seems to me without any code/plugin, We can add `transition: transform 4s;` CSS to arrow container, means 4 sec to move and before the finish (after 3.5s) marker should move to a newest position, that means marker always is moving smoothly!

[2019-10-04 10:58] roata commented on #9
Candidates for implementing this:

- https://stackoverflow.com/questions/54099898/react-locate-on-map
- https://github.com/fullhdpixel/react-leaflet-locate-control
- https://github.com/domoritz/leaflet-locatecontrol/

[2019-10-04 11:18] roata commented on #33
Thanks for the suggestion, and generally - for expressing interest in the project :-)

I tried this trick and it seems to work well, but there is an issue that occurs when zooming in and out:
![vokoscreen-2019-10-04_13-12-57](https://user-images.githubusercontent.com/48152696/66203627-194f4e00-e6a9-11e9-98b1-512400fc44ec.gif)
animated: https://giphy.com/gifs/TIEpO0eNRtGfE1sFXQ

As I am not CSS gur

[2019-10-04 11:20] roata commented on #33
@pedramp  Salam! Thanks for the suggestion, and generally - for expressing interest in the project :-)

I tried this trick and it seems to work well, but there is an issue that occurs when zooming in and out:
![vokoscreen-2019-10-04_13-12-57](https://user-images.githubusercontent.com/48152696/66203627-194f4e00-e6a9-11e9-98b1-512400fc44ec.gif)
animated: https://giphy.com/gifs/TIEpO0eNRtGfE1sFXQ

As

[2019-10-04 11:30] roata commented on #33
@pedramp, on a second thought, I see that even the current implementation has that; the difference is that it is not so obvious, because it lacks the `transition` effect. So I guess it wouldn't hurt if we just went ahead and did it. However, if you can suggest a solution for that too - that would be fantastic.

For example, could we set the transition time to 0 when we see that the zooming feature

[2019-10-04 13:30] pedramp commented on #33
hey Roata, it's a good idea to disable `transform` in zooming mode! I'll send PR soon :)

[2019-10-04 13:36] pedramp commented on #33
but if we want to show animation correctly we should know the correct dealy(our default is 4s), without correct time, I guess some times we should see very minor lacks in our animation.

[2019-10-04 13:40] pedramp commented on #33
@roata PR submitted #34 34

[2019-10-04 14:42] #33 closed

[2019-10-04 15:00] roata commented on #19
@pedramp, this is a dupe of #9 (which was written in Romanian), but this one is its English equivalent. I thought you might consider it a low-hanging fruit for your Hacktoberfest spree.

Here are some places on the Internet where a comparable feature is discussed.
- https://stackoverflow.com/questions/54099898/react-locate-on-map
- https://github.com/fullhdpixel/react-leaflet-locate-control
- http

[2019-10-04 15:19] pedramp commented on #19
@roata thanks, I’ll check it soon ;)

[2019-10-04 15:20] roata opened #35 "Automate GeoJSON extraction of route-related data"
We need a tool that automates the production of `route_X_stations.json` and `route_X_segments.json` files, such that they can be used by the web interface. At the moment we have data for 2 routes, and it was produced manually using a process described here: https://github.com/roataway/web-ui/blob/master/src/data/README.md

- This can be a Python script, placed in `tools/`
- It has to work from the

[2019-10-04 15:30] iamandrewluca commented on #35
I recommend to use a node script

I recommend to move data from `src/data/routes.csv` to `JSON` format.
Make a script that will generate a CSV file from that `JSON` when needed.
CSV is more error prone than JSON, even current `src/data/routes.csv` has wrong syntax.

[2019-10-04 15:46] roata commented on #35
1. I don't mind a script in node, but since this is just a standalone helper tool, I don't mind it being in another language either. A typical Linux distro will run a Python script out of the box, so that's a plus. (and a personal take on this - I can easily put it together in Python in a few minutes, whereas it would take me more time to figure out how to do this in JS).
2. The primary benefit of

[2019-10-04 16:01] roata commented on #35
I think that an even easier approach for them would be to have a specific Google Sheets document that they can keep up to date. This way they get a 100% GUI-based solution and there is zero risk in accidentally forgetting to close a brace or escape a special symbol.

Are you aware of an easy way to accomplish that?

[2019-10-04 19:25] roata opened #36 "Implement route matching"
Due to the fact that raw GPS telemetry data is a bit noisy and inaccurate, the vehicle markers are slightly off the actual route. While this is not critical, i.e. the site still serves its function and makes peoples' lives better, a polished product should look better.

This is what I mean:
![image](https://user-images.githubusercontent.com/48152696/66232246-baa9c480-e6e8-11e9-96b9-ddc3f26b3087.pn

[2019-10-04 22:29] roata commented on #35
This PR adds the data for the missing routes https://github.com/roataway/web-ui/pull/37/
I also included the tool I used to get the data, which can also deal with an individual route, without requiring a CSV file.

The route metadata probably changes once in a blue moon, so the only part where the presence of CSV is still relevant is `vehicles.csv`. If it ends up causing a lot of headaches, we'll

[2019-10-04 22:29] #35 closed

[2019-10-04 22:41] roata opened #38 "Settle on internal format for vehicle metadata"
Currently information about vehicles and route names is stored in a CSV file, the argument in favour of this is that CSV files are more likely to be understood by domain experts (folks from the public transport organizations), because they can be edited in Excel like a table. Thus, they won't have to deal with the problem of unbalanced braces or missing commas.

If processing this in JS causes unn

[2019-10-05 06:41] iamandrewluca commented on #38
Ok I agree. We can keep CSV files. I know a solution that will import them as JSON in the program.

[2019-10-07 23:38] iamandrewluca opened #40 "Add GeoJSON validator"
When getting data from OSM, we should ensure that downloaded data is a valid `GeoJSON` object.

Note:
* use TypeScript for validation

[2019-10-07 23:39] iamandrewluca opened #41 "Add CSV validator"
Because CSV format is very error prone, we need to add a validator whenever the content is changed of CSV files

[2019-10-09 10:21] roata opened #43 "Re-factor the route metadata into a separate project"
Create a project called `route-data` within the organization, it should contain:

- a readme
- the JSON stuff that we currently have in `data/`
- the stuff currently in `tools/`

[2019-10-09 20:17] iamandrewluca opened #44 "Move from Travis-CI to GitHub Actions CI"

[2019-10-09 20:19] iamandrewluca commented on #25
@roata can this be closed? Or there is anything that also be implemented?

[2019-10-09 20:21] iamandrewluca commented on #21
Strategy is to use Local Storage. https://caniuse.com/#feat=mdn-api_window_localstorage
For heavy storage in browser IndexedDB can be used. https://caniuse.com/#feat=indexeddb

[2019-10-09 21:05] roata commented on #25
I think there are 2 more things related to it:

1. The map itself should show a label on top that displays the route number and itinerary, so users know what they're looking at (2nd image above). However, if multiple routes are chosen - then what do we do? show 2 labels? show each route with a separate colour... ? This needs to be discussed, there is a discussion here: https://roataway.zulipchat.c

[2019-10-09 21:54] iamandrewluca commented on #25
@roata the issue with animating red triangles?

[2019-10-10 07:36] iamandrewluca opened #46 "Add deployed version hash into head"

[2019-10-10 21:48] roata commented on #43
What about `vehicles.csv` and `routes.csv`? That is also data that might be taken out, but I am not sure where. Vehicles are not routes, so probably not in https://github.com/roataway/route-data :-) What do you think, @iamandrewluca ?

[2019-10-10 21:50] iamandrewluca commented on #43
Move them also, pute them in root folder in `route-data`

[2019-10-11 00:06] roata commented on #43
Done. Everything is in the other repo, as you requested. I'll let you delete them from this one, as you see fit.

p.s.

If not another country, then maybe at least another city :-)

[2019-10-11 00:06] #43 closed

[2019-10-11 07:16] iamandrewluca commented on #43
I thought of implementing multiple cities in the same app, map.md from simpals do this.

[2019-10-11 08:30] iamandrewluca commented on #28
Fixed in #47

[2019-10-11 08:30] #28 closed

[2019-10-11 17:24] #9 closed

[2019-10-11 17:24] #19 closed

[2019-10-12 11:40] roata opened #48 "Zoom in: maximum level constraint"
When zooming in beyond a certain level, the entire map turns gray. The UI should prevent people from zooming in that far; the last zoom-level that is still visible is sufficiently detailed for any practical purpose.

See this GIF as a demo of this effect:
https://media.giphy.com/media/YlSfDHaiixJS4LKDRq/giphy.gif

[2019-10-12 11:43] roata opened #49 "Zoom in: unwanted marker drift"
When zooming in and out, sometimes the markers are drifting. See this GIF as a demo of the effect: https://media.giphy.com/media/YlSfDHaiixJS4LKDRq/giphy.gif

There was a related issue: https://github.com/roataway/web-ui/issues/33, with the suggestion to disable the `transform` style while a zoom in/out operation is in progress.

[2019-10-12 11:47] zilehuda commented on #48
taking it.

[2019-10-12 11:47] roata opened #50 "Vehicle marker scaling"
Our vehicle markers are always of the same size, regardless of the zoom level.

High-level overview:
![image](https://user-images.githubusercontent.com/48152696/66700919-7628b500-ecf6-11e9-89e1-9dedb98eb2f4.png)

Detailed view:
![image](https://user-images.githubusercontent.com/48152696/66700923-86409480-ecf6-11e9-89ec-62913ae41ca8.png)

Markers should be smaller when we're looking at a high-level

[2019-10-12 12:07] roata opened #51 "Show zoom control"
At the moment we don't have +/- buttons on the map, so the only way to zoom in and out is to use 2-finger touch or a scroll-wheel (if you have a mouse).

When you use the software on a phone, you might have only one hand available (the other one is holding a bag, a child or a fellow human hand) - so zooming in and out will be challenging.

This can be resolved by showing the zoom controls, like th

[2019-10-12 12:08] roata commented on #48
Cool, thanks! Consider taking this one too; I am no expert in this matter, but it seems to be a low-hanging fruit: https://github.com/roataway/web-ui/issues/51

[2019-10-12 12:16] zilehuda commented on #48
PR #52

[2019-10-12 12:20] zilehuda commented on #51
taking this

[2019-10-12 12:21] roata commented on #48
Resolved in https://github.com/roataway/web-ui/pull/52

[2019-10-12 12:21] #48 closed

[2019-10-12 12:46] roata opened #53 "Add "Settings" dialog"
As new functionality is added, we have to add a way to control certain aspects of the software. Here is an enumeration of the things we need so far:

- **language selection** - choose one from a list of options, currently: Romanian, Russian and English
- **dexterity** - left-handed vs. right-handed, see https://github.com/roataway/web-ui/issues/51 for details
- **favourite routes** - choose one or

[2019-10-12 12:47] iamandrewluca commented on #50
Note:
* https://github.com/Leaflet/Leaflet.markercluster

[2019-10-12 12:50] roata opened #54 "Left-handed UI"
Since this is likely to be used by people who travel in public transport, we have to consider the "one-hand usage" experience, hence dexterity plays a greater role than in a typical interface.

Here's what happens when a user chooses a "left-handed" mode of the UI, the map controls migrate to the right side of the screen:
- `+/-` zoom buttons
- `my location`
- `pick route`

[2019-10-12 12:52] roata commented on #25
Yes, I took it out into a separate issue: https://github.com/roataway/web-ui/issues/49

[2019-10-12 12:52] #25 closed

[2019-10-12 12:58] roata commented on #50
Yeah, I guess that would be even better, though I am not sure how it would look like in a dynamic setting. If we're looking at buildings, that's alright, but we're dealing with moving targets, I wonder how the clusters will behave in this case :-)

[2019-10-12 13:06] roata opened #55 "Automatic language detection"
We support 3 languages at the moment, based on the expected target audience: Romanian, Russian, English.

We need to set one of these languages by default, based on the `Accept-language` HTTP header. Besides that, users should be able to override that setting. For example, my system locale might be set to Romanian, but I prefer the UI to be in English.

Thus, the logic for prioritizing the languag

[2019-10-12 13:07] #38 closed

[2019-10-12 13:16] zilehuda commented on #51
PR #56

[2019-10-12 13:54] roata opened #57 "Route differentiation in multi-route display"
For the multi-route displaying feature to be complete, in terms of visualization, additional changes are needed

- **colour markers**, vehicles belonging to a route will be rendered with a specific colour
- **itinerary** - to indicate the endpoints of the routes
- **vehicle tag** - a label next to the vehicle marker, linking it to a route

Example
![image](https://user-images.githubusercontent.com

[2019-10-12 21:26] hendaoui commented on #55
I'm working on it, assign it to me :)

[2019-10-13 12:29] hendaoui commented on #55
Does the `Accept-language` header will be returned in the response ? and what are the possible values

[2019-10-13 12:54] roata commented on #55
`Accept-Language` is a part of the _request_, and it indicates the client's preference, i.e. "I would prefer the page you give me back to be in language X".

A related header, `Content-Language` is a part of the _response_, and it indicates what language the response is in. It doesn't necessarily have to match the user's declared preferences, let's say you send a request saying "I want a page in C

[2019-10-13 14:10] hendaoui commented on #54
Assign it to me :)

[2019-10-13 15:09] hendaoui commented on #54
if the user chooses a "left-handed" mode, only the `+/-` zoom buttons will migrate to the left while `my location` and `pick route` already at right!

[2019-10-13 16:57] iamandrewluca commented on #55
Notes:
* `navigator.languages`
* `navigator.language`

[2019-10-13 17:34] hendaoui commented on #54
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/6974404/66719445-b6b42b80-ede7-11e9-8dc5-a0f7ac5dbf75.gif)
These are my changes, can i make a new PR ?

[2019-10-14 22:30] roata opened #59 "Center map on the user's location when "My location" is pressed"
This was reported by I. on our Zulip chat, and I noticed this behaviour too.

When the user presses the `My location` button, the permissions are requested and the icon is shown. However, if you don't happen be located in an area that is within the visible portion of the map - it will seem that nothing happened.

What we need is a pan/scroll effect, which will slide the map, centering it around th

[2019-10-15 19:34] #55 closed

[2019-10-15 20:30] roata opened #61 "Change vehicle marker to circle with a direction hint"
The triangles we use now were a "quick and dirty" way to show direction of motion. The aesthetics of the solution has to be improved, especially because the raw `direction` data telemetry is noisy and the triangles often "jump" in a jerky way from one angle to another.

A simple and aesthetically acceptable solution is to use circular markers with a notch, such that the sense of direction is conve

[2019-10-15 21:15] roata commented on #61
Note, the `arrow` style is now becoming irrelevant, because the marker is not an arrow. Thus, the changes should be performed in `bus-location`, and the code in `src/the-map.tsx` should refer to the `bus-location` style.

[2019-10-15 22:20] roata opened #62 "UI restructuring - single call to action"
A usable interface has a clear call to action - one thing that stands out.  At the moment we have 2 such items, which compete for attention:

- `my location`
- `pick route`

![image](https://user-images.githubusercontent.com/48152696/66873571-03933000-efa9-11e9-972c-03ec73819f28.png)

The following tweaks can make the interface a bit clearer:

1. Turn the `my location` button into a control on top

[2019-10-15 22:20] roata commented on #62
@iamandrewluca , what do you think?

[2019-10-16 05:09] iamandrewluca commented on #62
I aggree with you, I'll take a look into material design best practices and Google Maps design.

[2019-10-17 21:28] ralienpp commented on #30
Draft implementation of this in https://github.com/roataway/web-ui/pull/64

[2019-10-18 23:22] roata opened #66 "Sanity check when attempting to show station name in popup"
It seems that not all the metadata we get from OpenStreetMap is complete, occasionally this happens:

![image](https://user-images.githubusercontent.com/48152696/67133625-f5921900-f20d-11e9-94f5-af9fce5c1991.png)

It occurs in this part of the code, when we attempt to use something that is undefined:
https://github.com/roataway/web-ui/blob/553a82daae0b741ccfa6c5092d4972e8cfeb258c/src/the-map.tsx#L

[2019-10-19 00:17] roata opened #67 "Branding elements for the RoataWăy identity"
At some point the project will grow bigger and get more public exposure. It would be great if we had a polished identity, one that would appeal to the public. This is _an invitation to discuss_ how to best accomplish this goal, via brainstorming and prototyping.

There are several elements that we can control:
- the logo
- the human stick-figure shown via the `my location` feature
- color scheme
-

[2019-10-23 05:08] #51 closed

[2019-10-23 06:05] #54 closed

[2019-10-23 10:17] #59 closed

[2019-10-23 23:10] #61 closed

[2019-10-24 20:49] roata commented on #67
Idei de slogane pentru Roataway:

- roata, reinventată
- trage roata (pe butonul ”download”, dacă vom avea așa ceva)

[2019-10-30 12:30] roata opened #75 "Remove expired markers"
If a tracker has stopped sending data, the corresponding marker will remain on the screen, giving the impression that the vehicle is there, while in practice it is actually _its last known location_.

The marker will disappear if you refresh the page, because no new telemetry will be arriving from that tracker. However, those who happen to be looking at a page that has been open for a long time, t

[2019-11-01 13:48] leanu commented on #36
If you have 'segments', need to find closest segment, and 'project' transport to it. But as I see, segments are pretty raw, from osm, sometimes they cross the road, and are in both direction the same. I mean, it would be nice to have position not in the mid of the road, but on the right half, depending on the dirrection.

[2019-11-01 15:52] roata commented on #36
It would definitely be nicer, but this would require an additional effort - either to make OSM data more detailed, or to post-process it after we retrieve it. I don't know of a way to do that easily. Have you got any ideas?

[2019-11-02 17:19] PlugaruT opened #76 "The app is causing huge CPU usage"
Right now, if I open roataway.md on Firefox, my computer starts to feel like it want to lift-off.
Here is a link to a recording I made.
https://send.firefox.com/download/16b8de6d4996248f/#3f7_dpQbchaDjxknqHF8KQ

PS: The password is the same you used to connect to the MQTT broker.

[2019-11-03 07:13] vlipcean opened #77 "Please fix the slow transition between zoom's"
Please fix the slow transition between the zoom in and zoom out by changing this class .markerImg { transition: all 0s; };

[2019-11-03 09:46] roata commented on #77
Can you make a pull request with this change?

This way we'll get an automated test build, to see what the result looks like before accepting the change into master.

We actually need the slow transition, but only when the map is NOT being zoomed. The pull request should address that, and keep it off only when a zoom operation is performed.

[2019-11-03 14:31] rodiongavriloi opened #78 "Design al posterului informativ"
În momentul lansării produsului, va fi nevoie de lipit postere în toate stațiile de transport public.
Este necesar de elaborat design grafic al posterului care va informa călătorii din stații de transport despre posibilitatea monitorizării troleibuzelor.

Content pentru poster (poate fi modificat/ajustat).

Unde este troleibuzul meu?

Toate troleibuzele în timp real
Descarcă aplicația sau acceseaz

[2019-11-04 00:11] iamandrewluca commented on #78
Related #8

[2019-11-04 10:06] atudos opened #79 "Map rotate on mobile"
As a user I should be able to rotate the map on my mobile device.

[2019-11-04 10:30] iamandrewluca commented on #76
@PlugaruT I'll do some profiling.

[2019-11-05 14:57] rodiongavriloi opened #80 "Condiții de utilizare"
Este necesar de elaborat documentul: Condițiile de utilizare
Scopul documentului este de a informa orice persoana privind condițiile de utilizare a datelor deschise.

https://docs.google.com/document/d/11S1DIdQ_HZMgTyO4sArLGlDYa4F6hUPRU9C3-oLs2BA/edit?usp=sharing

[2019-11-06 10:17] stefan-grigorita commented on #78
Poate mai multe postere, cu mesaje diferite, dar cu același design.

Mesaje simple, care să facă un pic de teasing, de exmeplu: „El va veni!” sau „Nu-l mai aștepta” sau „Află unde este”, scris mășcat, cu o culoare mai aprinsă, după care, sub el, cu altă culoare mesaje deja mai serioase, informative despre aplicație :).

[2019-11-06 10:44] iamandrewluca commented on #78
Voi vorbiti despre promovare, sau insusi panoul care va afisa prognozele troleibuzelor?

[2019-11-07 08:46] roata opened #81 "Switch to the MQTT-backed transport"
Currently we use an API that was not documented officially, the one that runs on top of WebSTOMP. The new API, documented in `api-documentation/` is using MQTT and is more reliable (it runs on a separate server, and it works even when RabbitMQ is down).

The payload formats are the same, and the subscription logic is the same too.

What is different:
- what AMQP calls "routing key" is a "topic" in

[2019-11-07 08:48] roata commented on #76
I can confirm that, some people started complaining about the same thing - I believe this happens because now there are more tracked trolleybuses. This is especially relevant on mobile platforms.

[2019-11-07 14:54] roata commented on #78
În subsol trebuie de scris că acest proiect este dezvoltat de comunitatea roataway; pentru că în lista noastră sunt și oameni care nu sunt din RTEC, sau din Dekart, dar care fac un lucru enorm.

De asemenea ar fi bine ca posterul să încurajeze entuziaștii să contribuie și ei.

[2019-11-08 07:34] iamandrewluca commented on #81
@roata where I can get new endpoint?

[2019-11-08 07:36] iamandrewluca commented on #81
Can we get `state.station` from MQTT ?

[2019-11-08 08:20] roata commented on #81
Hmm, I will make it happen and write about it tonight.

Note, however, that this feature request is for milestone 3.0, so - far into the future. At the moment our top priorities are route-multi-subscription and the performance issues #76. It is getting unusable on my phone, and sometimes even on my computer.

[2019-11-08 10:54] roata commented on #27
This problem still exists.

[2019-11-12 01:24] iamandrewluca opened #82 "Fix map layout"
Now header is fixed on top and map is exactly as screen size, and sometimes, some items apear under header.

[2019-11-12 06:31] #26 closed

[2019-11-12 08:42] #82 closed

[2019-11-13 11:02] roata opened #84 "Add Sentry error reporting"
Various errors can arise when the site is viewed on different browsers. For example, this is what I see in Chromium:

![image](https://user-images.githubusercontent.com/48152696/68757903-0e270080-060d-11ea-9cc7-74ceae7af105.png)

We have obtained a "free for open source projects" account at Sentry.io, we can use their library to catch and report unhandled exceptions. They will be stored and visual

[2019-11-13 23:04] roata opened #85 "Adjustable station marker size and visibility"
At the moment the station markers are displayed in a way that clutters the screen and makes it less informative:
![image](https://user-images.githubusercontent.com/48152696/68811868-f170e400-0671-11ea-8a73-e2de2793854c.png)

What we need:

1. show smaller markers when we're zoomed out
2. make them bigger after a certain zoom level has been reached

The thresholds and sizes have to be determined em

[2019-11-17 15:06] #84 closed

[2019-11-17 21:14] #46 closed

[2019-11-17 22:39] #66 closed

[2019-12-02 17:07] #27 closed

[2019-12-02 17:23] iamandrewluca opened #90 "Add fallback language when missing translation"

[2019-12-02 17:45] iamandrewluca commented on #76
Notes:
* Combine station markers when selecting multiple routes
* Combine route segments when selecting multiple routes

[2019-12-02 17:51] iamandrewluca commented on #49
Notes:
* Combine transport markers and render them as geojson

[2019-12-02 22:49] iamandrewluca opened #91 "Add select multiple in local storage"

[2019-12-02 22:49] #90 closed

[2019-12-02 23:11] #91 closed

[2019-12-03 21:57] iamandrewluca commented on #44
Now we don't have any CI automation

[2019-12-03 21:57] #44 closed

[2019-12-03 21:59] iamandrewluca commented on #21
Now all settings are saved in `localStorage`

[2019-12-03 21:59] #21 closed

[2019-12-04 22:45] iamandrewluca commented on #79
Unfortunately current library we use for rendering does not support map rotation.
I'll keep issue open. We may change the underlying library.

[2019-12-19 08:37] roata opened #98 "Map tiles not shown in Firefox"
The UI loads, but no map is displayed at all, the entire area is gray:

![Screenshot_20191219-093438_Firefox](https://user-images.githubusercontent.com/48152696/71157771-f7df1680-2242-11ea-98c0-e76c66886e2e.jpg)

This screenshot is taken on Android, but the same thing happens with Firefox on Linux.

[2019-12-19 17:37] iamandrewluca opened #99 "Check if busses are showed on iOS/Safari"

[2019-12-19 22:51] #98 closed

[2019-12-22 11:28] iamandrewluca commented on #99
Busses are showed on iOS devices on Safari. Also original reporter confirmed that everything works fine

[2019-12-22 11:28] #99 closed

[2019-12-26 22:37] roata opened #101 "Route 32 (upstream_id=2) not rendered correctly"
When this route is selected from the UI, the map only shows one station pin and a small road chunk:

![image](https://user-images.githubusercontent.com/48152696/71492532-3a52b580-2838-11ea-908f-3dc745b68f43.png)

However, the GeoJSON that corresponds to this route seems to be OK, because Github itself renders it correctly (both, route segments and route stations):
https://github.com/roataway/infra

[2019-12-26 23:30] roata opened #102 "Show route in vehicle tooltips and popups"
Since we added the ability to observe multiple routes at a time, it is now necessary to show the route number when a vehicle is examined. Otherwise - it is not clear what route the vehicle belongs to.

![image](https://user-images.githubusercontent.com/48152696/71493543-d59b5900-283f-11ea-8db1-19199bd1b206.png)

The pop-up should say:

[code]

The same message should be shown on the tooltip of a v

[2019-12-26 23:37] roata opened #104 "Add vehicle marker TTL (time to live)"
Occasionally, telemetry from some vehicles may stop arriving (if the vehicle went offline, lost power, etc.). In this case, its marker will remain on the "last known position" and stay there forever.

We need each marker to have a TTL, with a configurable value. The logic is as follows:
- when everything is in order, render everything as usual
- when the vehicle hasn't received location updates in

[2019-12-26 23:38] #101 closed

[2019-12-27 10:49] roata commented on #81
@iamandrewluca, I forgot about this, but stumbled upon it today. The ETAs are now exposed to the public via MQTT as well, here's how it works: `mosquitto_sub -h opendata.dekart.com -p 1945 -t state/infopanel/+`

Payload example:
[code]
- the MQTT topic will contain the bus station ID (we'll have to make a dictionary of those, like in `vehicles.csv` and `routes.csv`)
- `route` - human-readable rout

[2019-12-27 11:13] roata commented on #36
The matched data are now available for beta testing, the information is posted to the MQTT topic `telemetry/transport/chiK8n/1/1/+` (the last element is the tracker ID).

You can try it with `mosquitto_sub -h opendata.dekart.com -p 1945 -t telemetry/transport/chiK8n/1/1/+`.

Before this is a part of the mainstream version, we need:
1. A debugging aid for visualizing map data, to see how well the m

[2019-12-28 23:36] roata commented on #85
This is an RFC, let's discuss it before committing to implementing this in code.

There are three levels of granularity:
1. high-level - this is a bird's eye view, this only gives a rough idea of where the stations are
2. medium
3. low-level

**Icons**
The station icon should be a circle in the medium and low-level views:
![image](https://user-images.githubusercontent.com/48152696/71550291-27251e8

[2019-12-29 23:27] roata opened #105 "Change map detalization and settings for better contrast"
The current map has some drawbacks:
- it is not transport-centric
- it contains redundant information that is a distraction

In this screenshot we see some red markers on hospitals and clinics - they attract too much attention and are more prominent than the blue markers that show where the bus stops are:
![image](https://user-images.githubusercontent.com/48152696/71564009-851f3800-2a99-11ea-9a0b-

[2019-12-29 23:42] ralienpp commented on #85
A proof of concept (using the standard LeafletJS) is available at https://github.com/roataway/examples/tree/master/javascript-websocket-leaflet

[2019-12-31 10:53] roata commented on #36
This was resolved by applying changes to the backend, hence there is no specific commit to link to.

The map will now snap the marker to the nearest road, found within a radius of 10m. There will be false positives, of course. However, this change brings the UI to a "good enough" level that balances aesthetics and practicality.

This can be improved, when more people join the project and more time

[2019-12-31 10:53] #36 closed

[2019-12-31 11:10] roata opened #106 "Add "About" menu item"
We need this feature so we have a place where we can give credit to all the open source components we rely on, as well as the people who have contributed to the project.

We shall encourage the authors of other forks to keep that window in their modified version of the software too.

Acceptance criteria:

1. New menu item called "About"
2. When that is clicked, show a window that displays some bas

[2019-12-31 12:01] roata opened #107 "Add a "waiting for data" progress indicator"
It can take up to 15s for telemetry to start arriving, this time the users might get the impression that something is wrong. We need an _indeterminate_ progress indicator, a spinning wheel, for example, that says "Waiting for data".

The ideal solution looks like this:
- show a **definite** progress indicator that is tuned to 15s
- if the data arrive before 15s are elapsed, move the last part of t

[2020-01-25 23:21] roata commented on #105
Resolved by 589c53b

[2020-01-25 23:21] #105 closed

[2020-04-24 13:11] #17 closed

[2020-05-01 09:53] roata opened #111 "Integrate a usage statistics mechanism"
To get an idea about how many people are actually using the site, we need to collect some sort of metrics. The requirements are:

1. **privacy-preserving**: we only need to know the number of visitors, which routes they look at, whether they use a phone or a desktop.
2. **public**: the statistics must be available to the public.

[2020-05-01 10:08] roata opened #112 "Integrate Maptiler tiles"
Maptiler offers tiles that have several benefits:

1. They're available as _vector graphics_ (with fallback to raster), which makes the map crisp and reduces the amount of consumed traffic (which is a major plus for mobile users)
2. They are _aesthetically pleasing_, the map being less crowded (compared to our current tiles, which have some graphical clutter that distracts users)

In a discussion

[2020-05-01 10:36] roata commented on #112
Closed by e3a1044

[2020-05-01 12:26] roata commented on #112
Several sub-issues remain to be resolved:

- [ ] Set tile size to 512 (see "Wrong usage of 512x512 px tiles" on https://support.maptiler.com/i496-the-number-of-requests-for-my-account-hugely-increased-in-recent-months/1/oldest), this is what causes the labels to be small; this is a stop-gap measure until
- [ ] Use actual vector tiles (right now we're still downloading PNGs).

[2020-05-27 09:44] roata opened #117 "Route 16 rendering issue - missing segments"
Something is odd about this route, this is what it looks like on the site; the red rectangle shows an area where other segments should be present:
![image](https://user-images.githubusercontent.com/48152696/83003539-bed77900-a00e-11ea-8e62-338adcf83294.png)

And it is consistent with what Github's renderer shows here https://github.com/roataway/infrastructure-data/blob/develop/data/route_68_segmen

[2020-05-27 12:07] roata commented on #117
The infrastructure data repo was updated; the route was really incomplete.

[2020-05-27 12:07] #117 closed

[2020-05-27 13:42] roata opened #118 "On-the-fly vehicle off-route updates"
Sometimes a vehicle can be taken off a route (e.g., if there's a defect), the map has to be updated accordingly - the vehicle should be hidden. The API has just been extended to provide such notifications in real-time:  https://github.com/roataway/api-documentation#eventroute

Summary of how it works:
- Subscribe to `event.route.<upstream route id>` (e.g. `event.route.52` for route with upstream_i

[2020-05-28 12:53] roata commented on #107
A new REST server was added to make this a bit user-friendlier: https://github.com/roataway/rest-api. It is currently deployed on Heroku.

Summary:
- send a GET to `http://roataway-rest.herokuapp.com/route/1/trackers` (replace `1` with your route ID)
- retrieve a JSON of last known locations for trackers assigned to this route

It will look like this:

[code]

Use this information to provide an in

[2020-05-30 15:26] roata opened #120 "Render vehicles as "off" if they're within trolleybus parks"
Sometimes a vehicle returns to the park (e.g., because of some run-time defects) but it remains linked to a certain route, so views like this can happen:
![image](https://user-images.githubusercontent.com/48152696/83332028-31f42000-a299-11ea-8618-5185f1c74e62.png)

A discussion with RTEC made it clear that these events are rather frequent and they cannot guarantee that they'll always "unmap" it fr

[2020-05-30 15:31] roata commented on #120
So, @iamandrewluca you were right, but the problem is slightly less tricky - the logic is "is it in the park?" rather than "is it off-route?" (which would be a bigger challenge, because route shapes are more complex).

[2020-05-30 15:43] roata commented on #120
The contours:

Parcul#1, Buiucani
![image](https://user-images.githubusercontent.com/48152696/83332514-e3945080-a29b-11ea-9c5c-a959bfb32a69.png)

47.03782046385607, 28.81591558456421
47.035422117402916, 28.82065773010254
47.03597784141986, 28.82155895233154
47.037878958764374, 28.818544149398804

Parcul#2, Botanica
![image](https://user-images.githubusercontent.com/48152696/83332645-aaa8ab80-a29c-

[2020-05-30 15:58] roata opened #121 "Show route name within marker"
Since we can render multiple routes at a time, it is difficult to figure out which is which, so we need to make it easy to differentiate. Rendering the route number inside the marker itself would be an easy solution:
![image](https://user-images.githubusercontent.com/48152696/83332987-9bc2f880-a29e-11ea-9a3c-4810f273bbd9.png)

Note that we have several related issues: #102, #57, but they require m

[2020-05-30 16:00] roata commented on #77
@vlipcean, there is a reason the transition is there - the telemetry arrives every ~10s, so the transition allows a smooth change of the marker from one place to another.

What we need is to remove the transition while we're zooming, but restore it after the zoom is complete. Can you make this change?

[2020-05-30 16:15] roata commented on #112
Partially resolved by #115, but we still rely on PNG tiles. This issue is considered resolved when we switch to vectors.

[2020-05-30 16:17] roata commented on #77
Duplicate of #49

[2020-05-30 16:17] #77 closed

[2020-09-04 19:05] #121 closed

[2020-09-14 15:13] strdr4605 commented on #120
Will take this issue and probably will submit a PR for Hacktoberfest.

[2020-09-14 20:54] ralienpp commented on #102
@dasshield, can you add your change to these pop-ups too?

[2020-09-15 06:33] roata opened #123 "Add nudge for the route selector"
(Based on feedback from Sava)

When the user opens the site for the first time, they see a map - but no routes, nor vehicles. Since nothing else happens, some might be confused about what to do next.

The UI needs a nudge that will hint them what to do to get started. Therefore:

- when the UI is loaded
- and there are no previously selected routes (e.g. from previous sessions)
- the nudge should

[2020-09-15 07:19] dasshield commented on #123
I'll take it

[2020-09-15 09:00] #123 closed

[2020-09-15 18:45] #102 closed

[2020-09-15 19:12] #104 closed

[2020-09-16 09:46] dasshield opened #127 "Zoom control is overlapped by round buttons in left-handed mode"
Steps to reproduce:
1. Open settings drawer using hamburger button
2. Switch 'Left-handed' toggle
3. Zoom control is moved to the right under round buttons
![image](https://user-images.githubusercontent.com/29631512/93320982-61b03f00-f81a-11ea-9da1-ffab3c5310ed.png)

[2020-09-16 09:48] iamandrewluca commented on #127
More details:

- zoom buttons are provided from map component
- location and route buttons are created in react

Solution would be to move one or another to other side

[2020-09-16 11:01] ralienpp commented on #127
I think that a universal solution would be to
1. make the "find me" button a part of the zoom controls (Google Maps does it)
![image](https://user-images.githubusercontent.com/295338/93328354-e5b6f680-f81b-11ea-95e8-3bdb4831c18a.png)
2. and make it have the same style (gray/white, not red)
3. move the "choose route" button to the center of the screen

Thus, when users chose left/right-handed, only

[2020-09-16 23:47] roata opened #130 "Add feedback mechanism"
We need a way to allow non-expert users send bug-reports, feature requests (or praise :-). At the moment this is only doable via Github issues.

However, the problem is that our user base consists mainly of non tech-savvy people, we can't expect them to be programmers, have a Github account, and so on.

Ideally, this is a low-friction mechanism that allows one to provide feedback without creating

[2020-09-17 06:30] iamandrewluca commented on #130
https://docs.sentry.io/platforms/javascript/enriching-error-data/user-feedback/

[2020-09-18 11:54] ralienpp opened #131 "Implement tweaks recommended by Lighthouse"
Chrome includes a dev-tool called "Lighthouse", which provides some recommendations for improving the page. Some of them are fairly simple:

- [ ] Add `meta` description to document
- [ ] `robots.txt` is not valid
- [ ] Provide `apple-touch-icon` to make it look nicer on iOS devices that use the PWA feature (it must point to a non-transparent 192px (or 180px) square PNG)

Discussion:
1. what shoul

[2020-09-19 19:17] #57 closed

[2020-09-20 09:27] roata opened #132 "Route labels taking too much space on mobile"
The introduction of #128 brought a minor inconvenience for mobile users - roughly 25% of the screen is now occupied by the list of selected routes.
![image](https://user-images.githubusercontent.com/48152696/93707992-27ed7a00-fb33-11ea-9a84-e9ffdd4509c2.png)

This can be resolved by adding a "collapse" button that might look like this:
![image](https://user-images.githubusercontent.com/48152696/93

[2020-09-21 03:23] andylim0221 commented on #107
Is this being solved? If not, I'd like to take up this issue. Thanks.

[2020-09-21 06:15] roata commented on #107
Thanks for your offer to help, we'll gladly assign this issue to you. I will refine the specifications a bit, to consolidate every requirement in a single message (it will be posted later today).

[2020-09-21 06:19] andylim0221 commented on #107
sure. Thank you

[2020-09-24 19:48] viorelrj commented on #132
Hi. Is anybody on this issue now? Willing to try and make my first open-source contribution

[2020-09-24 20:16] iamandrewluca commented on #132
Hi Viorel! Don't think anyone started to work on this. You can take it. Thanks! :rocket:

[2020-09-27 10:11] viorelrj commented on #132
@iamandrewluca, upd: sorry, will actually have to pass this one.

[2020-09-27 10:59] iamandrewluca commented on #132
No problems. 🙂

[2020-09-27 11:58] roata commented on #132
@viorelrj, could you provide some more context? It would help us if we knew the rationale behind your decision, so we could adapt.

If the task is not clearly defined - we can make refine the description. Alternatively, if you just don't have the time - it is out of our control, but at least we know this is not because of obvious deficiencies in our requirements.

And just in case - if you're not

[2020-09-27 12:03] viorelrj commented on #132
@iamandrewluca, thanks for great reply! The reason is that it is only now that I noticed that this project might slightly be a subject of non-concurrency contract I signed at my current job, thus will have to stop the initiative. Thanks for understanding and offering to help.

[2020-10-01 19:12] #120 closed

[2020-10-02 06:56] grigorebudac commented on #130
I'll take it.

[2020-10-02 07:07] iamandrewluca commented on #130
Ok, thanks! :rocket:

[2020-10-02 08:31] roata commented on #130
Having checked the suggestion made by @iamandrewluca, I want to point out that Sentry's form assumes you are sending a crash report.

They also have an option to customize the strings, I believe we have to leverage that in order to make it more generic. This way, when a user wants to provide some feedback that is not necessarily a crash or a bug report, they won't have to do this through a window

[2020-10-02 08:34] iamandrewluca commented on #130
Maybe exists other free solutions for user feedback?

[2020-10-02 11:34] roata commented on #107
@andylim0221, here is the detailed description of the desired behaviour:

- **ws_back** - websocket backend, the one we connect to using WebSTOMP
- **rest_back** - the REST backend (demo running at http://roataway-rest.herokuapp.com, it will respond slowly when you send the first request, but once the server spins up, it is more responsive)
- **browser** - our code running in the users' browsers
!

[2020-10-02 12:45] grigorebudac commented on #130
Maybe we can  get use of the github's api and write the feedback as an issue ?
or, there are some open source projects for collection feedback and we can take one of them and run it inside heroku or something ([getfider](https://getfider.com/))

[2020-10-02 13:23] strdr4605 commented on #118
Will try to work on it

[2020-10-02 13:41] iamandrewluca commented on #118
Ok, but take a break first :)

[2020-10-02 13:43] strdr4605 commented on #118
@iamandrewluca I am in between jobs 😄

[2020-10-02 13:43] iamandrewluca commented on #130
I think we want to keep the app as anonymous as possible.

@roata

[2020-10-02 14:24] roata commented on #130
Indeed, it is an important concern. However, I think ťdt if we take the Sentry approach it is still acceptable: if someone wants to remain anonymous, they can fill out a bogus address (we can make it clear in the Form itself).

On the one hand we have to give people a way to do this, but on the other: we have to make sure they won't spam us to death.

Maybe we can just say "write an email to xxxxx

[2020-10-04 19:11] grigorebudac commented on #53
I can take it.

[2020-10-05 10:08] roata commented on #53
Go ahead, thanks!

[2020-10-05 10:15] #132 closed

[2020-10-05 10:19] roata commented on #107
@andylim0221 is everything clear and do you have everything you need in order to proceed?

[2020-10-05 10:21] roata commented on #75
This was a dupe of #104, so we consider it resolved.

[2020-10-05 10:21] #75 closed

[2020-10-05 10:28] roata commented on #131
Let's set the `meta` part to the following

[code]

What is the right way to deal with multilinguality? Because we have to cover multiple languages, we need something like `<meta name="keywords" content="Chișinău, Кишинёв, троллейбус, troleibuz, trolleybus, transport public, общественный транспорт, GPS">` - however I am guessing these are too many keywords and it can be perceived as SEO spam.

Mor

[2020-10-05 10:46] roata commented on #85
An acceptable alternative is to rely on clustering: https://github.com/yuzhva/react-leaflet-markercluster

[2020-10-05 20:59] #49 closed

[2020-10-05 21:04] iamandrewluca commented on #131
For single page applications, a solution would be to build entire app for each language. (Angular apps do this)

And have for example

- http://roataway.md/index.html (default language)
- http://roataway.md/en/index.html
- http://roataway.md/ro/index.html
- http://roataway.md/ru/index.html

[2020-10-05 21:05] iamandrewluca commented on #107
I think issue is too complicated 🙂 needs more investigation

[2020-10-05 21:50] roata commented on #131
Hmm, the downloaded JS file is already pretty large. If one would have to redownload it whenever they switch languages - I would rather sacrifice the META/SEO bells and whistles in favor of common sense.

[2020-10-09 06:59] #130 closed

[2020-12-28 09:06] roata commented on #81
This could be relevant, since the bus telemetry also uses MQTT: https://github.com/roataway/gtfs-data/issues/5

[2020-12-29 16:24] roata commented on #112
Turns out we're out of luck - the free tier is only up to 100K requests month, which we now exceed. There is no special treatment of open-source endeavors, thus we should forget about Maptiler for now and look for another set of nice (preferably vector) tiles to use.

[2020-12-29 16:24] #112 closed

[2021-01-03 11:07] ralienpp opened #142 "Add a prominent, always visible "Report a problem" action link"
A major problem we're dealing with is the fact that some vehicles are not correctly mapped to their routes. The mappings are provided by RTEC, and only RTEC have the power to correct these errors. Considering the status quo, they don't seem to care about it enough to do something about it.

![image](https://user-images.githubusercontent.com/295338/103477336-2d0ec600-4dbe-11eb-8b68-9b4492228e99.png

[2021-01-03 22:44] ralienpp opened #143 "Use vector tiles"
For lack of a better solution, we switched to self-hosted tiles available on maptiles.railean.net.

To reduce the load on the server and the bandwidth consumed by mobile devices, it is highly desirable to switch to vector tiles. Currently we're using raster tiles, though the backend supports vectors too. It is a matter of figuring out how to do this with React-Leaflet.

[2021-01-04 17:44] iamandrewluca commented on #143
For rendering vector tiles, more work needs to be done
https://eox.at/2020/01/vector-tiles-with-dynamically-updated-style-in-leaflet-lpvis/
https://github.com/Leaflet/Leaflet.VectorGrid

[2021-01-08 16:06] #142 closed

[2021-01-17 19:02] #118 closed

[2021-02-26 15:54] ralienpp opened #146 "Show "Connection lost" widget with a reconnect action"
When the websocket connection to the server is lost, the interface should display a prominent, but non-intrusive overlay that says "Lost connection to server, trying to reconnect in <countdown timer>", with the action link "Try now".

The timer will be set to 30s, and as the countdown reaches 0, we try to reconnect automatically.

[2021-02-26 16:34] iamandrewluca commented on #127
Notes:
- https://github.com/domoritz/leaflet-locatecontrol/

[2021-02-26 16:37] iamandrewluca commented on #81
Notes;
- https://github.com/roataway/examples/tree/master/javascript-websocket-leaflet

[2021-02-27 15:46] Vintic opened #147 "Transport - Android app, best road, estimated time of arrival"
**Is your feature request related to a problem? Please describe.**
I just wonder if your project can collaborate and integrate current RoataWay developments into Transportr (open-source, non-profit android app), big enough to compete with proprietary apps, and unity open-source enthusiast.

**Describe the solution you'd like**
Include Moldova static content(stations, routes) and GPS data in Transp

[2021-02-27 20:10] ralienpp commented on #147
Hi and thanks for expressing interest. I assume you refer to `Transportr`, with an 'r' at the end.

At the current stage, the fastest way to make it happen is to have someone who can champion the cause and guide the process. From my personal perspective, I don't have the time to dig into Transportr and figure out how it works, but I would be happy to assist you in this process, because I know the

[2021-02-28 09:05] Vintic commented on #147
Of course, I would love to try to do that in my spare time.
Is this GTFS feed publicly open? I was searching for it yesterday (that's how I found about this great project).

[2021-02-28 09:29] ralienpp commented on #147
The feed is published in this repository: https://github.com/roataway/gtfs-data

Also check out the other items in https://github.com/roataway, there are various examples and other tools to tinker with.

[2021-03-01 02:40] asharonbaltazar commented on #146
Hello, I'd like to help with this. Is there some notification system in place? Thanks in advance.

[2021-03-01 10:58] ralienpp commented on #146
@asharonbaltazar, thanks for the offer! We don't have a notification system in place, but since MaterialUI is applied for the UI, perhaps you can leverage one of the existing primitives?

Otherwise, I guess @iamandrewluca knows better and can provide some guidance.

[2021-03-01 17:16] asharonbaltazar commented on #146
I'm having trouble running `npm i`. I'm developing on Windows 10 (latest version) and tried both on Powershell and WSL (Linux). Still end up with the same error. Here's the logs:

![image](https://user-images.githubusercontent.com/58940073/109533084-75c1c300-7a7f-11eb-8128-bc4660f3a000.png)

Appreciate your help in advance.

[2021-03-01 18:47] iamandrewluca commented on #146
That's odd, there is no python in this project. Hmm 🤔

[2021-03-01 18:49] iamandrewluca commented on #146
Can you show what version of node/npm do you have?
[code]

[2021-03-01 20:02] asharonbaltazar commented on #146
![image](https://user-images.githubusercontent.com/58940073/109551837-aa8d4480-7a96-11eb-94b0-0e4fcf29e673.png)

![image](https://user-images.githubusercontent.com/58940073/109551855-b37e1600-7a96-11eb-9ff1-19811eaf39cc.png)

[2021-03-01 21:35] asharonbaltazar commented on #146
Following the instructions, it does install.

However, it doesn't want to for this project, even when running `npm cache clean --force`. Here's some more data:
![image](https://user-images.githubusercontent.com/58940073/109562196-b16e8400-7aa3-11eb-82d7-34ebaa3b86e6.png)

This sucks...

[2021-10-14 20:21] strdr4605 commented on #111
We can use Spitbee for now, then if traffic increase we can switch to Plausible, and maybe  request **free tier**. Also can we request payment from RTEC?

[2021-10-15 09:02] iamandrewluca commented on #111
I can integrate Splitbee for now. And in case we go past 2.5K events/month I can take payment responsibility on me for some time.

we should open a Roata Wăy Patreon account 🙂

[2021-10-19 20:31] #111 closed

[2021-10-20 12:52] iamandrewluca opened #150 "Show a warning if user browser may not support all the features"
https://github.com/browserslist/browserslist-useragent-regexp

Sometimes in sentry we get error reports from browsers that are very old or not updated.
We should show users a notification if they should update browser or install supported one

[2021-10-22 08:55] iamandrewluca opened #154 "Replace Leaflet with OpenLayers"
Reason of replacement is lack of support for some features:

- Vector tiles https://github.com/roataway/roataway-web/issues/143
- Map rotate https://github.com/roataway/roataway-web/issues/79

[2021-10-27 21:29] strdr4605 opened #158 "User device as a tracker"
**Is your feature request related to a problem? Please describe.**
As of current situation https://github.com/roataway/roataway-web/commit/38f5834f9a8f9c620cae3343f4ab6266507c18f6, what do you think about using user device as a tracker for the car?
**Describe the solution you'd like**
I don't have a clear vision, just ideas for now:
The app may start tracking the user location when the user opens

[2021-11-08 18:39] iamandrewluca opened #159 "Add all contributors and mark everyone that contributed"

[2021-11-08 18:42] iamandrewluca commented on #159
@all-contributors add @iamandrewluca for code
@all-contributors add @ralienpp for code
@all-contributors add @grigorebudac for code
@all-contributors add @strdr4605 for code
@all-contributors add @roata for code
@all-contributors add @dasshield for code
@all-contributors add @hendaoui for code
@all-contributors add @zilehuda for code
@all-contributors add @andonimihai for code
@all-contributors ad

[2021-11-08 18:44] iamandrewluca commented on #159
@all-contributors add @iamandrewluca @ralienpp @grigorebudac @strdr4605 @roata @dasshield @hendaoui @zilehuda @andonimihai @deanshub @henryjw @Buraddo23 @pedramp for code

[2021-11-08 18:45] iamandrewluca commented on #159
@all-contributors add @ralienpp for code

[2021-11-08 18:52] iamandrewluca commented on #159
@all-contributors add @strdr4605 for code

[2021-11-08 18:53] iamandrewluca commented on #159
@all-contributors add @grigorebudac for code

[2021-11-08 18:55] iamandrewluca commented on #159
@all-contributors add @roata for code

[2021-11-08 18:55] iamandrewluca commented on #159
@all-contributors add @dasshield for code

[2021-11-08 18:56] iamandrewluca commented on #159
@all-contributors add @hendaoui for code

[2021-11-08 18:56] iamandrewluca commented on #159
@all-contributors add @zilehuda for code

[2021-11-08 18:57] iamandrewluca commented on #159
@all-contributors add @andonimihai for code

[2021-11-08 18:57] iamandrewluca commented on #159
@all-contributors add @deanshub for code

[2021-11-08 18:58] iamandrewluca commented on #159
@all-contributors add @henryjw for code

[2021-11-08 18:58] iamandrewluca commented on #159
@all-contributors add @Buraddo23 for code

[2021-11-08 18:58] iamandrewluca commented on #159
@all-contributors add @pedramp for code

[2021-11-10 20:11] #159 closed

[2022-06-01 19:28] #76 closed

[2022-08-16 11:10] #154 closed

[2022-08-16 11:10] #150 closed